In [1]:
import numpy as np
import pandas as pd 
import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('criminal_train.csv')
df1 = pd.read_csv('criminal_test.csv')
df1.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,66583679,4,0,4,1,2,1,1,1,99,...,2,2,2,1,1,2,2,16346.795400,40020,1
1,35494679,4,0,4,1,1,1,1,1,99,...,3,2,2,1,1,2,2,3008.863906,40044,2
2,79424679,2,0,3,1,2,1,1,1,99,...,1,2,2,2,2,2,2,266.952503,40040,2
3,11744679,4,0,6,1,2,1,1,1,99,...,3,2,2,1,1,2,2,5386.928199,40017,1
4,31554679,1,0,4,1,3,1,1,1,99,...,3,2,1,1,1,2,2,173.489895,40017,1

In [3]:

df2 = df.drop('PERID',1)
X = df2.iloc[:,:-1]
y = df2.iloc[:,-1]
X.shape, y.shape

X1 = df1.iloc[:,1:]
X1.shape

(11430, 70)

In [4]:
X1

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,4,0,4,1,2,1,1,1,99,99,...,2,2,2,1,1,2,2,16346.795400,40020,1
1,4,0,4,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,3008.863906,40044,2
2,2,0,3,1,2,1,1,1,99,1,...,1,2,2,2,2,2,2,266.952503,40040,2
3,4,0,6,1,2,1,1,1,99,99,...,3,2,2,1,1,2,2,5386.928199,40017,1
4,1,0,4,1,3,1,1,1,99,1,...,3,2,1,1,1,2,2,173.489895,40017,1
5,1,0,6,1,4,1,1,1,99,99,...,1,2,2,1,1,2,2,562.268242,40035,2
6,4,0,2,1,1,1,2,1,99,99,...,2,1,2,1,1,2,2,24857.283570,40040,2
7,4,0,1,1,1,1,1,1,99,99,...,1,1,2,1,1,2,2,6219.428316,40015,2
8,4,0,2,1,1,1,1,1,99,99,...,3,2,2,2,3,2,2,5256.401262,40022,1
9,4,0,2,1,1,1,3,1,99,99,...,3,2,2,2,3,2,2,8081.240889,40023,1
10,4,0,2,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,3431.856903,40044,1
11,4,1,3,1,2,1,1,1,99,99,...,3,2,1,2,2,2,2,3759.142319,40044,2
12,2,0,6,1,4,1,1,1,99,1,...,2,2,2,2,2,2,2,974.948772,40019,2
13,4,0,2,1,1,1,1,1,99,99,...,3,2,1,2,2,2,2,1914.468602,40006,2
14,2,0,3,1,2,1,1,1,99,1,...,2,2,2,1,1,2,2,281.176495,40042,1
15,4,0,4,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,9088.623271,40007,2
16,4,0,5,1,3,1,1,1,99,1,...,1,2,2,2,2,2,2,3715.508104,40040,1
17,4,0,2,1,1,1,1,1,99,99,...,3,2,2,3,3,2,2,5661.847892,40035,2
18,4,3,5,1,4,1,1,1,99,99,...,2,2,2,2,3,2,2,377.644075,40047,2
19,4,0,2,1,1,1,2,1,99,99,...,2,2,1,2,2,2,2,12288.975580,40014,1
20,4,1,3,1,2,1,1,1,99,99,...,3,2,2,3,3,2,2,3824.418318,40029,2
21,4,0,2,1,1,1,1,1,99,99,...,3,2,2,3,3,2,2,218.879040,40048,1
22,4,0,2,1,1,1,1,1,99,99,...,3,2,2,2,2,1,1,3899.398591,40028,2
23,4,2,4,1,3,1,1,1,99,99,...,1,2,2,2,2,2,2,1429.069206,40005,2
24,1,0,6,1,4,1,1,1,99,1,...,2,2,2,2,2,2,2,671.369416,40047,1
25,4,0,2,1,1,1,1,1,99,99,...,3,2,2,2,2,2,2,6656.154985,40009,2
26,1,0,5,1,4,1,1,1,99,1,...,3,2,2,1,1,2,2,995.612630,40026,1
27,4,0,1,1,1,1,1,1,99,99,...,3,2,2,3,3,2,2,11359.873670,40033,1
28,4,0,4,1,1,1,2,1,99,99,...,3,2,2,2,2,2,2,5194.522223,40020,2
29,4,0,1,1,1,1,2,1,99,99,...,2,2,2,2,3,2,2,13987.779540,40050,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11400,4,0,2,1,1,1,3,1,99,99,...,2,2,2,1,1,2,2,14562.484070,40041,2
11401,4,1,3,1,2,1,1,1,99,99,...,3,2,2,2,2,2,2,15566.490510,40011,2
11402,2,0,4,1,4,1,1,1,99,1,...,1,2,2,2,2,2,2,2456.811278,40020,2
11403,4,0,1,1,1,1,1,1,99,99,...,3,2,2,2,2,2,2,2725.545667,40048,1
11404,4,1,2,1,2,1,1,1,99,99,...,1,2,2,1,1,2,2,1359.186827,40019,2
11405,4,0,2,1,1,1,1,1,99,99,...,2,2,2,2,2,2,2,16603.812810,40005,2
11406,4,0,3,1,1,1,1,1,99,99,...,2,2,2,2,2,2,2,9369.625039,40009,1
11407,4,1,4,1,2,1,1,1,99,99,...,1,1,2,2,3,2,2,1583.824252,40023,1
11408,4,0,4,1,3,1,1,1,99,99,...,1,2,2,1,1,2,2,12078.605550,40045,2
11409,1,0,4,1,3,1,1,1,99,1,...,3,2,2,1,1,2,2,832.521609,40035,2
11410,4,3,6,1,4,1,1,1,99,99,...,3,2,2,2,2,2,2,2323.685489,40025,2
11411,4,0,2,1,1,1,1,1,99,99,...,3,2,2,2,2,2,2,5381.416623,40039,2
11412,4,2,4,1,3,1,1,1,99,99,...,3,2,2,1,1,2,2,7270.478434,40050,2
11413,4,0,2,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,4732.793801,40032,1
11414,1,0,4,1,3,1,1,1,99,1,...,3,2,2,1,1,2,2,1487.618230,40041,2
11415,4,1,3,1,2,1,1,1,99,99,...,3,2,2,1,1,2,2,7383.003982,40002,1
11416,1,0,4,1,3,1,1,1,99,1,...,3,2,2,1,1,2,2,4913.575578,40046,2
11417,4,0,3,1,1,1,1,1,99,99,...,3,2,2,2,2,2,2,14397.913650,40020,1
11418,4,0,2,1,1,1,1,1,99,99,...,2,2,2,2,2,2,2,1829.815148,40041,1
11419,4,0,2,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,7956.416883,40020,2
11420,4,3,5,1,4,1,1,1,99,99,...,3,2,2,2,3,2,2,318.032029,40004,2
11421,4,0,4,1,1,1,3,1,99,99,...,2,2,2,2,1,2,2,16359.048850,40002,2
11422,4,2,4,1,3,1,1,1,99,99,...,2,2,2,2,2,2,2,3138.776528,40006,2
11423,4,2,4,1,3,1,1,1,99,1,...,3,2,2,2,2,2,2,5618.191466,40014,1
11424,4,2,4,1,3,1,1,1,99,99,...,3,2,2,2,2,2,2,13370.245460,40029,1
11425,4,0,2,1,1,1,1,1,99,99,...,-1,2,2,2,2,2,2,753.786740,40007,2
11426,4,1,5,1,2,1,2,1,99,99,...,1,2,2,2,3,2,2,4713.267712,40045,2
11427,1,0,5,1,4,1,1,1,99,1,...,3,2,2,2,2,2,2,4372.865218,40022,2
11428,4,0,2,1,1,1,1,1,99,99,...,3,2,2,3,3,2,2,6436.160608,40042,1
11429,4,2,6,1,3,1,1,1,99,99,...,1,2,2,1,1,2,2,3637.081687,40017,2

In [12]:
clf = RandomForestClassifier(n_estimators = 100, n_jobs=2, max_depth=20).fit(X,y)
"""from sklearn.model_selection import GridSearchCV
grid_vals = {'n_estimators': [50, 100, 200, 300, 400, 500], 'max_depth': [5,10,15,20,25,30,40]}
grid_clf = GridSearchCV(clf, param_grid=grid_vals, scoring='accuracy')
grid_clf.fit(X,y)
grid_clf.best_score_,grid_clf.best_params_"""

"from sklearn.model_selection import GridSearchCV\ngrid_vals = {'n_estimators': [50, 100, 200, 300, 400, 500], 'max_depth': [5,10,15,20,25,30,40]}\ngrid_clf = GridSearchCV(clf, param_grid=grid_vals, scoring='accuracy')\ngrid_clf.fit(X,y)\ngrid_clf.best_score_,grid_clf.best_params_"

In [13]:

pred = clf.predict(X1)

In [14]:
perid = df1.iloc[:,0]
perid
df = pd.DataFrame(data={'PERID':perid, 'Criminal':pred})

In [15]:

df = df[['PERID','Criminal']]

df

          PERID  Criminal
0      66583679         0
1      35494679         0
2      79424679         0
3      11744679         0
4      31554679         0
5      83164679         0
6      58474679         0
7      40695779         0
8      39315779         0
9      58415779         0
10     23535779         0
11     67275779         0
12     93485779         0
13     29546779         0
14     97556779         0
15     37797779         0
16     36607779         0
17     61727779         0
18     20827779         0
19     52437779         0
20     87267779         0
21     33287779         0
22     30398779         0
23     98598779         0
24     41818779         1
25     69638779         0
26     25748779         0
27     75368779         0
28     99968779         0
29     91578779         1
...         ...       ...
11400  43750730         1
11401  35360730         0
11402  51380730         0
11403  50480730         0
11404  71901730         0
11405  96021730         0
11406  71331730         0
11407  66541730         0
11408  29861730         0
11409  95071730         0
11410  61281730         0
11411  57202730         0
11412  45402730         0
11413  45022730         0
11414  99432730         0
11415  26732730         0
11416  85832730         0
11417  45782730         0
11418  26493730         0
11419  54693730         0
11420  97103730         0
11421  99713730         0
11422  74543730         0
11423  57863730         0
11424  97294730         0
11425  31894730         0
11426  98524730         0
11427  80134730         0
11428  65323398         0
11429  90906563         0

[11430 rows x 2 columns]

In [16]:
df.to_csv('answer2.csv', index = False)